body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer.container {
    display: flex;
    justify-content: flex-end;
}

footer p {
    text-align: right;
    margin-left: 10px;
    color: white;
}

footer q {
    color: white;
}